body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

body {
  background-color: #eee;
  nav, footer {
    background-color: #6a1b9a !important;
    color: #fff;
  }
  // footer {
  //   position: fixed;
  //   bottom: 0px;
  //   width: 100%;
  // }

/*
  @media (prefers-color-scheme: dark) {
    background-color: #414141;
    color: #fff;
    nav, footer {
      background-color: #212121 !important;
    }
    .card {
      background-color: rgba(255,255,255,0.2);
    }
    .btn {
      background-color: #EE6F73;
    }
    .divider {
      opacity: 0.2;
    }
    .sidenav {
      background-color: #2D2D31;
      li {
        a {
          &:not(.subheader){
            color: #89B2F5;
            &:hover {
              background-color: #3B4043;
            }
          }
          &.subheader {
            color:#9AA0A6;
          }
          .material-icons {
            color: #9AA0A6;
          }
        }
      }
    }
    .collection {
      border: 1px solid rgba(255,255,255,0.2);
      .collection-item {
        background-color: rgba(255,255,255,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);;
      }
    }
  }
  */
}

textarea {
  height: 9rem !important;
}

$base-color: #6a1b9a;

.dropdown-content li span{
  color: $base-color !important;
}

/* label color */
.input-field label {
  color: $base-color;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: $base-color;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid $base-color;
  box-shadow: 0 1px 0 0 $base-color;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid $base-color;
  box-shadow: 0 1px 0 0 $base-color;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid $base-color;
  box-shadow: 0 1px 0 0 $base-color;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: $base-color;
}

input[type="checkbox"].filled-in:checked + span:not(.lever):after,
input[type="radio"]:checked + span:after,
.btn {
  background-color: $base-color !important;
  border: $base-color;
}


@media (prefers-color-scheme: dark) {
  $base-color: #fff;

  .input-field input, textarea {
    color: $base-color;
  }

  /* label color */
  .input-field label {
    color: $base-color;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: $base-color;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid $base-color;
    box-shadow: 0 1px 0 0 $base-color;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid $base-color;
    box-shadow: 0 1px 0 0 $base-color;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid $base-color;
    box-shadow: 0 1px 0 0 $base-color;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: $base-color;
  }

  input[type="checkbox"].filled-in:checked + span:not(.lever):after,
  input[type="radio"]:checked + span:after,
  .btn, .btn-floating, .fa {
    background-color: $base-color !important;
    // border: $base-color;
    color: #000 !important;
  }
}
