<template name="hello">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center">Setor de Eventos DF</h1>

      {{#if currentUser}}
      <div class="row center">
        <div class="col s12 m4 offset-m1">
          <a href="/contatos" class="waves-effect waves-light btn-large social yahoo" id="">
            <i class="fa fa-address-book"></i> Contatos
          </a>
        </div>
        <div class="col s12 m4 offset-m1">
          <a href="/cadastro" class="waves-effect waves-light btn-large social yahoo" id="">
            <i class="fa fa-user-circle"></i> Meus Dados
          </a>
        </div>
      </div>
      {{else}}
      <div class="row center">
        <div class="col s12 m6 offset-m3">
          <button class="waves-effect waves-light btn-large social google" id="login">
            <i class="fa fa-google"></i> Cadastre-se ou Entre
          </button>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</template>
