// IPHONE X+ SCREEN FIX FOR MATERIALIZE
// See: https://css-tricks.com/the-notch-and-css/
//
.navbar-fixed nav {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.footer-fixed footer {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}


//MATERIALIZE'S STICKY FOOTER
//See: https://materializecss.com/footer.html
//
body {display: flex;min-height: 100vh;flex-direction: column;}
main {flex: 1 0 auto;}


// CUSTOM FIXED FOOTER FOR MATERIALIZE
//
// .footer-fixed {
// 	position: fixed;
// 	bottom: 0;
// 	width: 100%;
// }


// CUSTOM FOOTER LAYOUT
// Poorly done. Should probably use flexbox here to distribute the <li> elements.
footer {
	ul {
		&.justify {
			text-align: center;
			display: table;
			overflow: hidden;
			margin: 0 auto;
			li {
				margin-left:auto;
				margin-right:auto;
				//width: 138px; // 3 ICONS
				//width: 100px; // 4 ICONS
				width: 82px; // 5 ICONS
			}
		}
	}
}
