<template name="footer">
  <div class="footer-fixed">
  	<footer class="red lighten-2">
  		<nav class="z-depth-0">
  			<div class="nav-wrapper">
  				<ul class="justify">
  					<li><a href="/"><i class="material-icons">home</i></a></li>
  					<li><a href="/contatos"><i class="material-icons">contacts</i></a></li>
            {{#if currentUser}}
            <li><a href="/cadastro"><i class="material-icons">person</i></a></li>
            <li><a target="_blank" href="https://github.com/smartium/Setor-de-Eventos-DF"><i class="yellow-text fa fa-github small"></i></a></li>
            <li><a id="logout"><i class="material-icons">exit_to_app</i></a></li>
            {{/if}}
  				</ul>
  			</div>
  		</nav>
  	</footer>
  </div>
</template>
